<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2 class="mb-2 text-danger p-3" style="text-align: center; font-size: 1.4rem;">
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
